.header {
  background-color: white;
  border-bottom: 1px solid var(--border);
  font-family: var(--inter);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  height: 80px;

  .logo-container {
    display: flex;
    gap: 8px;
    align-items: center;

    .header__logo {
      height: 32px;
      width: auto;
    }

    .header__title {
      font-size: 1.25rem;
      font-weight: bolder;
      margin: 0;
    }
  }

  .navigation {
    flex-grow: 1;
    margin: 0 32px;
  }

  .profile {
    display: flex;
    align-items: center;

    .login-button {
      color: var(--primary);
      background-color: white;
      border: 2px solid var(--primary);
      border-radius: 20px;
      padding: 8px 24px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-hover);
        color: white;
      }
    }
  }
}

